<div class="container">
  <h1>Welcome to TweetHelper!</h1>
  <p>Hello, you!</p>  

  <% if session[:username].nil? %>
    <button><a href ="/login">LOGIN</a></button>
  <% else %>
    <button><a href ="/users/<%= session[:username] %>">My Profile</a></button>
  <% end %>
</div>