<div class="container">
  
  <div class="header">
    <button type="button"><a href="/logout">LOGOUT</a></button>
    <button type="button"><a href="/">HOME</a></button>
    <p id="greeting">Hello, <%= @user.username %>!</p>
    
    <h1>Welcome to TweetHelper!</h1>
  </div>
  
  <form id="ajax">
    <p>How are you feeling today? </p>
    <label for="tweet"> Tweet it: </label>
    <input type="text" name="tweet" placeholder="Your Tweet">
  </br>
    <label for="time"> When do you want to tweet it? </label>
    <select name="time">
      <option value="0">now</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
    </select></br>
    <input type="submit" value="Tweet">
  </form>

  <div id="tweet_in_progress"><h3> Your tweet is still being processed... </h3></div>
    <div id="tweet_done">
      <h3> Your tweet has been posted successfully! </h3>
      <button type="button" id="tweet_again"> Tweet again </button>
    </div>

  <h3>Your recent tweets</h3>
  <div class="tweets">
    <% @tweets.each do |tweet| %>
    <div class="tweet">
      <dt><%= tweet.text %></dt> 
      <dd><%= tweet.text_created_at %></dd>
    </div>
    <% end %> 
  </div>


</div>